/*---------- Général ----------*/
body {
	font-family: Calibri, serif;
	margin: 0;
	padding: 0px;
}

html {
	margin:0;
	padding:0;
	background: url("bibliotheque.png") no-repeat center fixed; 
	-webkit-background-size: cover;
	background-size: cover;
	overflow:hidden;
}
 /*-------Général--------*/
body{
	font-family: Calibri, serif;
	margin: 0;
	padding: 0px;
}

html{
	margin:0;
	padding:0;
	background: url("bibliotheque.PNG") no-repeat center fixed; 
	-webkit-background-size: cover;
	background-size: cover;
	overflow:hidden;
}
/*----- Barre des onglets -----*/
header {
	font-size: 1.25rem;
}

nav>ul {
	margin: 0px;
	padding: 0px;
}


nav> ul>li  .nous:hover a {
	padding: 0px 0px 0px 0px;
	margin:0;
}

nav li {
	list-style-type: none;
}

.niveau3 {
	display: none;
	margin:0;
}


nav li:hover .niveau3 {
	display: inline-block;
	position: absolute;
	top: 7.1%;
	left: 123px;
	padding: 0px;
	z-index: 100000;
}

/*affiche les lignes en dessous des sous-onglets*/
.niveau3 li {
	border-bottom: 1px solid black;
}

.niveau3 li a {
	padding: 10px 5px;
	font-size: 18px;
	color: #222538;
	width:191px;
	text-align:center;
}

/*longueur et couleur de fond barre des onglets*/
nav {
	width: 100%;
	background-color: #424558;
}

/*aligner les différents onglets*/
nav > ul > li {
	display: inline-flex;
}

nav a {
	display: inline-block;
	text-decoration: none;
}

/*Espacer et mettre en noir les boutons menus*/
nav > ul > li > a {
	padding: 20px 30px;
	color: #FFF;
}

/*Bande au dessus des sous menus*/
nav li:hover {
	border-top: 5px solid white;
	background-color: RGBa(255, 255, 255, 0.15);
}

/*Couleur fond des sous-menu*/
.nous .niveau3 {
	background-color: RGB(255, 255, 255, 0.5);
}

/*mettre en gras les boutons sous menu hover*/
.niveau3 li:hover/*, .niveau2 li:hover*/ {
	font-weight:bold;
	font-size:20px;
	font-family: Calibri, serif;
}

main {
	background-color: RGBa(0, 0, 0, 0.7);
	color: white;
	margin-top: 50vh;
    transform: translateY(-60%);
	width:75%;
	margin-left:auto;
	margin-right:auto;
	padding:5%;
	padding-top:15px;
}

footer {
	background-color:#424558;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	color:white;
	text-align:center;
	padding-top: 10px;
} 

ul {
	list-style-type:none;
}

/*---------- Corps -----------*/
.b1 {
	display:block;
	margin:auto;
	width:100%;
	margin:20px;
	text-align:center;
}

h1 {
	text-align:center;
}

#calculs {
	margin-left : -240px;
	color : #F39C12;
	font-weight : bold;
	display : none;
}

/*----- bouton d'aide -----*/
#aide img {
	width:35px;
	height:35px;
}

#aide {
	float:right;
	margin-top:13px;
	margin-right:20px;
	display:none;
}

#aide:hover {
	border:none;
	border-radius: 1.5em;
	background-color: #424558;
	box-shadow: 0px 0px 10px 7px rgba(255, 215, 100, 0.75);
		-moz-box-shadow: 0px 0px 10px 7px rgba(255, 215, 100, 0.75);
		-webkit-box-shadow: 0px 0px 10px 7px rgba(255, 215, 100, 0.75);
}

img {
	width:50px;
	height:50px;
}

#croix {
	float: right;
	width:30px;
	height:30px;
}

/*----- page d'aide -----*/
#helping {
	display:none;
	text-align:center;
	padding:5%;
}

#helping li {
	display:table-cell;
	padding-right:70px;
}
/*----- aide maths -----*/
table th {
	padding-right: 20px;
}

/*---------- Calcul ----------*/
#ope1 {
	position : absolute;
	padding-left : 820px;
	padding-top : 10px;
	font-size : 18px;
}

#ope2 {
	position : absolute;
	padding-left : 828px;
	padding-top : 100px;
	font-size : 18px;
}

#ope3 {
	position : absolute;
	padding-left : 1022px;
	padding-top : 10px;
	font-size : 18px;
}

#ope4 {
	position : absolute;
	padding-left : 1018px;
	padding-top : 100px;
	font-size : 18px;
}

#ope5 {
	position : absolute;
	padding-left : 650px;
	padding-top : 430px;
	font-size : 18px;
}

#ope6 {
	position : absolute;
	padding-left : 920px;
	padding-top : 200px;
	font-size : 18px;
}

#ope7 {
	position : absolute;
	padding-left : 690px;
	padding-top : 255px;
	font-size : 18px;
}

#ope8 {
	position : absolute;
	padding-left : 920px;
	padding-top : 600px;
	font-size : 18px;
}

#ope9 {
	position : absolute;
	padding-left : 1120px;
	padding-top : 255px;
	font-size : 18px;
}

#ope10 {
	position : absolute;
	padding-left : 1145px;
	padding-top : 200px;
	font-size : 18px;
}

#ope11 {
	position : absolute;
	padding-left : 665px;
	padding-top : 200px;
	font-size : 18px;
}

#ope12 {
	position : absolute;
	padding-left : 920px;
	padding-top : 400px;
	font-size : 18px;
}

#ope13 {
	position : absolute;
	padding-left : 1150px;
	padding-top : 360px;
	font-size : 18px;
}

#ope14 {
	position : absolute;
	padding-left : 665px;
	padding-top : 308px;
	font-size : 18px;
}

#ope15 {
	position : absolute;
	padding-left : 800px;
	padding-top : 520px;
	font-size : 18px;
}

#ope16 {
	position : absolute;
	padding-left : 1000px;
	padding-top : 520px;
	font-size : 18px;
}

#ope17 {
	position : absolute;
	padding-left : 800px;
	padding-top : 730px;
	font-size : 18px;
}

#ope18 {
	position : absolute;
	padding-left : 1020px;
	padding-top : 730px;
	font-size : 18px;
}

#ope1 {
	visibility : visible;
}

#ope2, #ope3, #ope4, #ope5, #ope6, #ope7, #ope8, #ope9, #ope10, 
#ope11, #ope12, #ope13, #ope14, #ope15, #ope16, #ope17, #ope18 {
	visibility : hidden;
}

/* ----- Changement le texte ----- */
#text-base {
	font-size: 30px;
	visibility : visible;
	text-align : center;
	margin-top : 100px;
}

#text-end {
	font-size: 30px;
	visibility : hidden;
	text-align : center;
	margin-top : -60px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  margin-top : 350px;
  margin-left : 100px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#operation {
	display : block;
	color : #85C1E9;
	font-weight : bold;
}

#rep {
	margin-bottom : 20px;
	color : black;
}

#ok {
	margin-left : 85px;
}